#top {
	background-color: black;
	color: white;
	text-align: center;
	padding: 5px;
	font: normal normal bold 1em/1.5 tahoma;
}

#logo {
	float: right;
	width: 10%;
	text-align: right;
}

#logoimg {
	height: 100%;
	width: 48%;
}

#menu {
	line-height: 30px;
	text-align: right;
	background-color: yellow;
	height: 300px;
	width: 15%;
	float: right;
	padding: 5px;
}

#main {
	width: 82%;
	text-align: center;
	float: right;
	padding: 10px;
}

#footer {
	background-color: black;
	color: white;
	clear: both;
	text-align: center;
	padding: 5px;
}